.App {
  text-align: center;
}

.app-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#filtered-wallpapers {
  display: flex;
  flex-direction: row;
}

.filtered-wallpaper-creator {
  padding: 20px;
}

.time-picker {
  margin-bottom: 15px;
}
